<!-- templates/error.html -->
{% extends "base.html" %}

{% block content %}
<h2>Error</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<!-- Determine the home URL based on user type -->
{% if session['user_type'] == 'customer' %}
    {% set home_url = url_for('customer_home') %}
{% elif session['user_type'] == 'staff' %}
    {% set home_url = url_for('staff_home') %}
{% else %}
    {% set home_url = url_for('index') %}
{% endif %}

<a href="{{ home_url }}">Return to Home</a>
{% endblock %}
