{% extends "base.html" %}
{% block content %}
<h2>My Flights</h2>
{% if flights %}
<table border="1">
    <tr>
        <th>Flight Num</th>
        <th>Airline</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.Flight_num }}</td>
        <td>{{ flight.Airline_name }}</td>
        <td>{{ flight.Departure_airport }}</td>
        <td>{{ flight.Arrival_airport }}</td>
        <td>{{ flight.Departure_date_time }}</td>
        <td>{{ flight.Arrival_date_time }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No flights found.</p>
{% endif %}
{% endblock %}
