{% extends "base.html" %}

{% block content %}
<h2>Customer Registration</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>

    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname" required><br>

    <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname" required><br>

    <label for="building_number">Building Number:</label>
    <input type="text" name="building_number" id="building_number" required><br>

    <label for="street_name">Street Name:</label>
    <input type="text" name="street_name" id="street_name" required><br>

    <label for="apartment_number">Apartment Number:</label>
    <input type="text" name="apartment_number" id="apartment_number"><br>

    <label for="city">City:</label>
    <input type="text" name="city" id="city" required><br>

    <label for="state">State:</label>
    <input type="text" name="state" id="state" required><br>

    <label for="zip_code">Zip Code:</label>
    <input type="text" name="zip_code" id="zip_code" required><br>

    <label for="passport_number">Passport Number:</label>
    <input type="text" name="passport_number" id="passport_number" required><br>

    <label for="passport_expiration">Passport Expiration Date:</label>
    <input type="date" name="passport_expiration" id="passport_expiration" required><br>

    <label for="passport_country">Passport Country:</label>
    <input type="text" name="passport_country" id="passport_country" required><br>

    <label for="dob">Date of Birth:</label>
    <input type="date" name="dob" id="dob" required><br>

    <input type="submit" value="Register">
</form>
{% endblock %}


