{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ session['username'] }}</h1>

<h2>Staff Actions</h2>
<ul>
    <li><a href="{{ url_for('create_flight') }}">Create New Flight</a></li>
    <li><a href="{{ url_for('change_status') }}">Change Flight Status</a></li>
    <li><a href="{{ url_for('add_airplane') }}">Add Airplane</a></li>
    <li><a href="{{ url_for('add_airport') }}">Add Airport</a></li>
    <li><a href="{{ url_for('view_ratings') }}">View Flight Ratings</a></li>
    <li><a href="{{ url_for('schedule_maintenance') }}">Schedule Maintenance</a></li>
    <li><a href="{{ url_for('view_frequent_customers') }}">View Frequent Customers</a></li>
    <li><a href="{{ url_for('view_revenue') }}">View Earned Revenue</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>

<h2>View Flights</h2>

<form method="post" action="{{ url_for('staff_home') }}">
    Start Date: <input type="date" name="start_date">
    End Date: <input type="date" name="end_date">
    Source Airport Code: <input type="text" name="source">
    Destination Airport Code: <input type="text" name="destination">
    <input type="submit" value="Filter Flights">
</form>

<table border="1">
    <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Status</th>
        <th>View Customers</th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.Flight_num }}</td>
        <td>{{ flight.Departure_airport }}</td>
        <td>{{ flight.Arrival_airport }}</td>
        <td>{{ flight.Departure_date_time }}</td>
        <td>{{ flight.Arrival_date_time }}</td>
        <td>{{ flight.Status }}</td>
        <td>
            {% set departure_time_str = flight.Departure_date_time %}
            {% set encoded_departure_time = departure_time_str | url_encode %}
            <a href="{{ url_for('view_customers', flight_num=flight.Flight_num, departure_date_time=encoded_departure_time) }}">View Customers</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

